body{
    background: #E5E5E5;
}

.logo{
    padding: 40px 0 0 40px;
    height: 48px;
    width: 120px;    
}

.titulo{
    color: #0a3871;
    width: 577px;
    height: 48px;
    position: absolute;
    left: 240px;
    top: 168px;    
}
