body{
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.logo{
    position:absolute ;
    top: 40px; 
    left: 40px;
    height: 48px;
    width: 120px;    
}

.titulo{
    display: inline-block;
    color: #0a3871;
    width: 577px;
    height: 48px;
    position: absolute;
    left: 240px;
    top: 168px;    
}

.textoaca{
    position: absolute;
    top: 250px;
    left: 240px;
    background: #F3F5FC;
    border: none;
}

.rectangulo{
    display: inline-block;
    position: absolute;
    background: #FFFFFF;
    width: 400px;
    height: 944px;
    top: 40px;
    left: 930px;
    border-radius: 15px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.8);
}

.rectangulo img{
    position: absolute;
    top: 283px;
    margin-left: 32px;
    margin-right: 32px;
}

.mensaje{
    position: absolute;
    background: #FFFFFF;
    border: none;
}

.textos{
    position: absolute;
    top: 619px;
    width: 336px;
    height: 122px;
    margin: 32px;
    text-align: center;
    
}

.ningun{    
    height: 58px;    
    color: #343A40;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
}

.ingrese{
    height: 48px;    
    font-size: 16px;
    color: #495057;
}

.adv{
    display: flex;
    flex-direction: row;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 200px;
    top: 745px;
    align-items: center;
    padding: 0px;
}

.advertencia{
    text-align: center;
    font-size: 12px;
    color: #495057;
    width: 205px;
    height: 18px;
    line-height: 150%;
}

.advertencia:before{
     content: "\26A0";
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 200px;
    top: 800px;
}

.encriptar{   
    background: #0A3871;
    color: #FFFFFF;
    font-style: normal;
    font-size: 16px;
    border: none;       
    border-radius: 15px;
    width: 328px;
    height: 67px;
    margin: 0 20px 0 0;
}

.desencriptar{
    background: #D8DFE8;    
    font-style: normal;
    font-size: 16px;     
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 15px;
    width: 328px;
    height: 67px;
}

